[flake8]
builtins =
    abs,
    acos,
    add,
    addPoint,
    alpha,
    alphaPc,
    alphaShift,
    alphaShiftPc,
    ambient,
    ambientLight,
    anchor,
    anchorAt,
    anchorU,
    anchorUV,
    anchorV,
    anchorX,
    anchorY,
    append,
    applyColor,
    applyMatrix,
    applyRotation,
    applyStyle,
    arc,
    arrayCopy,
    asin,
    atan,
    atan2,
    autoAddToStage,
    autoClear,
    background,
    beginCamera,
    beginContour,
    beginRaw,
    beginRecord,
    beginShape,
    bezier,
    bezierDetail,
    bezierParam,
    bezierPoint,
    bezierTangent,
    bezierVertex,
    binary,
    blend,
    blendMode,
    blue,
    bool,
    boolean,
    boundingSize,
    box,
    brightness,
    byte,
    cache,
    camera,
    ceil,
    char,
    charAt,
    clear,
    color,
    colorMode,
    concat,
    constrain,
    contract,
    copy,
    copyPropertiesFrom,
    cos,
    createCopy,
    createFont,
    createGraphics,
    createImage,
    createInput,
    createOutput,
    createReader,
    createShape,
    createWriter,
    cursor,
    curve,
    curveDetail,
    curvePoint,
    curveSegments,
    curveTangent,
    curveTightness,
    curveVertex,
    day,
    degrees,
    delay,
    directionalLight,
    dist,
    draw,
    duration,
    ellipse,
    ellipseMode,
    emissive,
    endCamera,
    endContour,
    endRaw,
    endRecord,
    endShape,
    equals,
    exit,
    exp,
    expand,
    extras,
    fill,
    fillAndStroke,
    filter,
    firstChild,
    float,
    floor,
    frameRate,
    frustum,
    get,
    getImage,
    green,
    height,
    hex,
    hide,
    hint,
    hour,
    hue,
    image,
    imageMode,
    indexOf,
    init,
    int,
    iterator,
    join,
    keyPressed,
    keyReleased,
    keyTyped,
    lastChild,
    length,
    lerp,
    lerpColor,
    lightFalloff,
    lights,
    lightSpecular,
    line,
    link,
    list,
    loadBytes,
    loadFont,
    loadImage,
    loadJSONArray,
    loadJSONObject,
    loadPixels,
    loadShader,
    loadShape,
    loadSound,
    loadStrings,
    loadTable,
    loadXML,
    loc,
    locAt,
    log,
    lookat,
    loop,
    mag,
    map,
    mask,
    match,
    matchAll,
    max,
    millis,
    min,
    minute,
    modelX,
    modelY,
    modelZ,
    month,
    mouseClicked,
    mouseDragged,
    mouseMoved,
    mousePressed,
    mouseReleased,
    mouseWheel,
    move,
    nf,
    nfc,
    nfp,
    nfs,
    noCursor,
    noFill,
    noise,
    noiseDetail,
    noiseSeed,
    noLights,
    noLoop,
    norm,
    normal,
    noSmooth,
    noStroke,
    noTint,
    num,
    numChildren,
    numI,
    obj,
    onCreate,
    onResize,
    open,
    openStream,
    ortho,
    paintAll,
    param,
    parent,
    parentOf,
    parseXML,
    pause,
    perspective,
    play,
    point,
    pointLight,
    popMatrix,
    popStyle,
    pow,
    print,
    printArray,
    printCamera,
    println,
    printMatrix,
    printProjection,
    proportional,
    pushMatrix,
    pushStyle,
    quad,
    quadraticVertex,
    radians,
    random,
    randomGaussian,
    randomSeed,
    rect,
    rectMode,
    red,
    redraw,
    remove,
    request,
    requestAll,
    requestImage,
    resetMatrix,
    resetShader,
    reverse,
    rotate,
    rotateRad,
    rotateX,
    rotateY,
    rotateZ,
    rotation,
    round,
    rounding,
    saturation,
    save,
    saveBytes,
    saveFrame,
    saveJSONArray,
    saveJSONObject,
    saveStream,
    saveStrings,
    saveTable,
    saveXML,
    scale,
    screenX,
    screenY,
    screenZ,
    second,
    selectFolder,
    selectInput,
    selectOutput,
    set,
    setImage,
    setup,
    shader,
    shape,
    shapeMode,
    shearX,
    shearY,
    shininess,
    shorten,
    show,
    sin,
    size,
    smooth,
    solveCubic,
    solveQuadratic,
    sort,
    specular,
    sphere,
    sphereDetail,
    splice,
    split,
    splitTokens,
    spotLight,
    sq,
    sqrt,
    status,
    stop,
    str,
    stroke,
    strokeCap,
    strokeJoin,
    strokeWeight,
    subset,
    substring,
    switch,
    tan,
    text,
    textAlign,
    textAscent,
    textDescent,
    textFont,
    textLeading,
    textMode,
    textSize,
    texture,
    textureMode,
    textureWrap,
    textWidth,
    time,
    tint,
    toLowerCase,
    toUpperCase,
    translate,
    triangle,
    trim,
    unbinary,
    unhex,
    unHint,
    updatePixels,
    vertex,
    visibility,
    volume,
    year
